@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.tiles {
  padding: 6vh 6vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.App {
  text-align: left;
}

.App-table td{
  width: 60vmin;
}

.App-image {
  padding: 10vmin 0vmin;
  height: 60vmin;
}

.App-menu {
  padding: 10vmin 0vmin;
  text-align: center;
  vertical-align: text-top;
}

.App-menu p{
  display: inline;
}

.Table {
  width: inherit;
}
.Buttons {
  width: inherit;
}

.App-header {
  /* background-color: #000000; */
  font-size: calc(10px + 2vmin);
  color: white;
  text-emphasis-color: white;
}

.App-link {
  color: #61dafb;
}

.picture {
  padding: 12vh 0vh;
  height: 60vh;
  width: auto;
}

.picture .carousel-indicators li { visibility: hidden; }



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DivContainer {
  width: 100%;
  height: 100%;
}

.Pictures {
  width:80%;
  vertical-align: top;
  margin-left: 220px;
  height: 100%;
  background-position-x: fixed;
}

.Options {
  width:300px;
  height: 100%;
  padding: 10px 10px;
  position: fixed;
  vertical-align: top;
  /* top: 50px; */
  left: 0;
  background-color: #ddd5e1  ;
}


.OptionsPictureContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OptionsPicture {
  max-height: 130px;
  padding-top: 10px;
}

/*--------------------------CheckBoxStyle-----------------------------*/

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color:#7a3db8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*--------------------------SliderStyle-----------------------------*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #7a3db8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #7a3db8;
  cursor: pointer;
}