.MyPicture {
    /* padding-top:60px; */
    vertical-align: top;
    height: 100%;
    background-position-x: fixed;
    align-content: center;
    display: flex;
    justify-content: center;
  }


  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
  }

  .btn {
    margin: 10px 10px;
    padding: 0px 0px;
  }

  .btn:focus {
    outline: none  !important;
    box-shadow: none !important;
  }

  .ButtonContainer {
    display: flex;
    justify-content: center;
  }

  .LeftButtons {
    width: 400px;
    display: inline-block;
  }

  .RightButtons {
    width: 400px;
    display: inline-block;
  }