
.tile {
    margin: 15px;
    cursor: pointer;
    overflow: hidden;
    width: 18vw;
    display: flex;
    flex-direction: column;
  }

.tile-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.magnified {
    height: 40vw;
    box-shadow: 0 0 40vw 5vw rgba(0, 0, 0, 0.8);
}

.small {
    width: 18vw;
}

.RefreshButton { 
    background-color: transparent !important;
    border: 0px;
}

.MuiSvgIcon-root.BlackIcon {
    color: black;
}

.MuiSvgIcon-root {
    color: white;
}

.spinner{
    /* padding: 10px 10px; */
    border: 2px solid #7a3db8;
    border-right-color: transparent;
    
}

.LoadingImage{
    width: 18vw;
    height: 18vw;
    align-items: center;
    display: flex;
    justify-content: center;
}
