.Upload .fileContainer { 
    /* background-color: transparent !important; */
    background-color: #7a3db8;
    padding: 0px !important;
    margin: 0px !important;
}
  
.Upload .fileContainer .chooseFileButton {
    padding: 0px !important;
    margin: 0px !important;
}

.Upload .fileContainer button,  .RefreshButton { 
    background-color: transparent !important;

}