  .StateTrustNumber {
    width: 50px;
    position: absolute;
    left: 40px;
    height: 20px;
  }

  .LabelStyle {
    position: absolute;
    display: inline-block;
    left: 100px;
  }
  
.ElectionPictures {
  width:80%;
  vertical-align: top;
  margin-left: 260px;
  height: 100%;
  background-position-x: fixed;
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.ElectionResult {
  max-width:800px;
  max-height:650px;
}

.Inputs {
  width: 200px;
}

.card{
  background-color: #ddd5e1;
  border:0px
}
.card-header{
  padding: 0;
  align-content: left;
  background-color: transparent;
  border-bottom:none;
  text-decoration: none !important;
}

.btn-link{
  color: black;
}
.card-body {
  padding: 0;
}

.slider {
  width: 220px;
  display: inline;

}

.slider-value {
  display: inline;
  padding: 0 10px;
}