.tiles {
    padding: 6vh 6vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  
  .App {
    text-align: left;
  }
  
  .App-table td{
    width: 60vmin;
  }
  
  .App-image {
    padding: 10vmin 0vmin;
    height: 60vmin;
  }
  
  .App-menu {
    padding: 10vmin 0vmin;
    text-align: center;
    vertical-align: text-top;
  }
  
  .App-menu p{
    display: inline;
  }
  
  .Table {
    width: inherit;
  }
  .Buttons {
    width: inherit;
  }
  
  .App-header {
    /* background-color: #000000; */
    font-size: calc(10px + 2vmin);
    color: white;
    text-emphasis-color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .picture {
    padding: 12vh 0vh;
    height: 60vh;
    width: auto;
  }
  
  .picture .carousel-indicators li { visibility: hidden; }
  
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .StateTrustNumber {
    width: 50px;
    position: absolute;
    left: 40px;
    height: 20px;
  }

  
  .LabelStyle {
    position: absolute;
    display: inline-block;
    left: 100px;
  }
  
  .VoteCheckbox .StateTrustNumber .LabelStyle {
    display: inline;
  }
  
.Options {
  width:260px;
  height: 100%;
  padding: 10px 10px;
  position: fixed;
  vertical-align: top;
  background-color: #ddd5e1  ;
}

.OptionsPictureContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OptionsPicture {
  max-height: 130px;
}

.ElectionPictures {
  width:80%;
  vertical-align: top;
  margin-left: 260px;
  height: 100%;
  background-position-x: fixed;
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.ElectionResult {
  max-width:800px;
  max-height:650px;
}

.Inputs {
  width: 200px;
}

